<%- include('../includes/head.ejs')%>
</head>
<body>
	<%- include('../includes/navbar.ejs')%>
	<main>
		<div class="container">
			<h3>게시판 글쓰기</h3>
			<form name="frm" method="POST" action="/board/write" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
				<input type="TEXT" id="memberSeq" name="memberSeq" value="{{M_SEQ}}">
				<div class="col-md-6 form-floating">
					<input type="text" class="form-control" id="memberName" name="memberName" value="{{M_NAME}}" placeholder="이름" required>
					<label for="memberName" class="form-label">이름</label>
					<div class="invalid-feedback">이름을 입력하세요.</div>
				</div>

				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="boardTitle" name="boardTitle" value="{{ this.board_title }}" placeholder="글 제목" required>
					<label for="boardTitle" class="form-label">글 제목</label>
					<div class="invalid-feedback">글의 제목을 입력하세요.</div>
				</div>

				<div class="form-floating mb-3">
					<textarea class="form-control" id="boardMemo" name="boardMemo" required placeholder="글 내용">{{ this.board_content }}</textarea>
					<label for="boardMemo" class="form-label">글 내용</label>
					<div class="invalid-feedback">내용을 입력하세요.</div>
				</div>

				<div class="col-md-6">
					<input type="file" class="form-control" id="boardFile1" name="boardFile1" accept="image/*">
				</div>
				<div class="col-md-6">
					<input type="file" class="form-control" id="boardFile2" name="boardFile2" accept="image/*">
				</div>

				<div class="col-12">
					<button class="btn btn-primary" type="submit">저장</button>
					<a href="/board" class="btn btn-secondary">목록</a>
				</div>
			</form>
		</div>
	</main>

<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(() => {
		'use strict'

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		const forms = document.querySelectorAll('.needs-validation')

		// Loop over them and prevent submission
		Array.from(forms).forEach(form => {
			form.addEventListener('submit', event => {
				if (!form.checkValidity()) {
					event.preventDefault()
					event.stopPropagation()
				}

				form.classList.add('was-validated')
			}, false)
		})
	})()
</script>
<%- include('../includes/footer.ejs')%>